.despachoGrid {
  width: 100%;
  height: 380px;
}

/*  CUSTOM CSS STARTS HERE */
.despachoGrid .ui-grid-cell-contents {
  padding: 1px 1px;
}

.despachoGrid .ui-grid-render-container-body .ui-grid-header-cell,
.despachoGrid .ui-grid-render-container-left .ui-grid-header-cell,
.despachoGrid .ui-grid-row,
.despachoGrid .ui-grid-cell,
.despachoGrid .ui-grid-cell .ui-grid-vertical-bar {
  rowHeight: 22;
  font-size: 12px;
  line-height: 20px;
}
.despachoGrid .ui-grid-render-container-body .ui-grid-header-cell,
.despachoGrid .ui-grid-render-container-left .ui-grid-header-cell,
.despachoGrid .ui-grid-header-cell {
  height: 25px !important;
}
.despachoGrid .ui-grid-filter-container {
  padding: 1px 3px;
}

.boxNoMargin {
	margin-bottom: 0;
}

#map { 
    height: 540px;
    width:205px;
}

.control-sidebar-menu .menu-info {
    margin-top:9px;
}

.btn-recepcion {
  color: #ffffff;
  background-color: #00a65a;
  border-color: rgba(0, 0, 0, 0.2);
  margin-right:10px;
}
.btn-recepcion:hover,
.btn-recepcion:focus,
.btn-recepcion.focus,
.btn-recepcion:active,
.btn-recepcion.active,
.open > .dropdown-toggle.btn-recepcion {
  color: #ffffff;
  background-color: #1E714B;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-recepcion:active,
.btn-recepcion.active,
.open > .dropdown-toggle.btn-recepcion {
  background-image: none;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.form-buttons-incident-group {
  float: right;
  margin-right: 14px;
}

